body {
  background: #F9F9F9;
}

*, .ui.button, .ui.form .field input, .ui.form .field textarea, .ui.message .header {
  font-family: 'Roboto Condensed', sans-serif;
}

.ui.small.container {
  width: 768px;
}

.ui.menu {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.ui.menu .borderless.item:before {
  background: none;
}
.ui.menu .item:before {
  background: #F1F1F1;
}
.ui.menu .item .button {
  border-radius: .15em;
}

.ui.segments, .ui.segments .ui.segment {
  border-radius: 0;
  box-shadow: none;
  border-color: #F1F1F1;
}
.ui.segments .ui.segment:first-child {
  border-radius: 0;
}
.ui.segments .ui.segment:last-child {
  border-radius: 0;
}
.ui.segment {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.ui.horizontally.fitted.segment {
  padding: 1em 0;
}
.ui.fitted.segment {
  padding: 0;
}
.u
.ui.secondary.segment {
  color: RGBA(0, 0, 0, .87);
}

.ui.button, .ui.basic.button {
  border-radius: .15em;
}

.ui.form .field input, .ui.form .field input:focus, .ui.form .field textarea {
  border-radius: 0;
}
.ui.form .field label {
  text-transform: uppercase;
  font-weight: normal;
}

.ui.message {
  border-radius: 0;
}

.ui.modal {
  border-radius: 0;
  box-shadow: 0;
}
.ui.modal .actions .button {
  margin: .15em;
}

.ui.table {
  border-radius: 0;
  border: none;
}
.ui.table thead tr th {
  font-weight: normal;
  border-color: #F1F1F1;
}
.ui.table tbody tr td {
  border-color: #F1F1F1;
}
